.images_slide__container {
    padding: 20px;
    width: 272px;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
}

.images__item {
    width: 39px;
    height: 39px;
    cursor: pointer;
    margin-right: 24px;
    margin-bottom: 24px;
}

.images__item:nth-child(4n) {
    margin-right: 0px;
}
