.statistic__slider {
    height: 200px;
    width: 1200px;
    background-color: white;
    margin: 0 auto;
    background-color: lightblue;
}

.pagination {
    background-color: darkgoldenrod;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.swiper-pagination-bullet {
    background-color: red;
}

.statistic__container {
    width: 717px;
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    background: #99bcff;
    padding: 8px;
    margin-bottom: 50px;
    margin-right: 16px;
}

.statistic__operations {
    width: 100%;
}
