.container {
    padding: 0 53px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.categories_card__image_container {
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    outline: solid black 1px;
    width: 40px;
    height: 40px;
}

.categories_card__balance {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
}

.categories_card__input {
    border-radius: 15px;
    width: 100%;
    background-color: #e7e7e7;
    padding: 16px 16px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #505050;
    border: none;
    font-family: "Montserrat", sans-serif;
}

.categories_card__input:focus {
    background-color: lightgray;
    color: black;
}

.categories_card__input:not(:last-child) {
    margin-bottom: 14px;
}

.categories_card__input:last-child {
    margin-bottom: 18px;
}

.categories_card__button {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
    padding: 8px 24px;
    background-color: lightgray;
    border-radius: 5px;
    margin-bottom: 25px;
    font-family: "Montserrat", sans-serif;
    transition: background-color 0.3s ease-in-out;
}

.categories_card__button_active {
    background-color: #0066ff;
    cursor: pointer;
}

.categories_card__button__exit {
    color: black;
    background-color: white;
    cursor: pointer;
}

.categories_card__button_active:focus {
    outline: 2px solid #3c3c3c;
}

.categories_card__button_active:hover {
    background-color: #1e90ff;
}

.categories_card__button_active:active {
    background-color: #032861;
}

.categories_card__attention {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 4px;
    color: red;
}
