.operations__container {
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    background-color: white;
    border: var(--border);
}

.operations__container:not(:last-child) {
    margin-bottom: 44px;
}

.operations__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom: solid black 2px;
}

.list__text {
    display: block;
    width: 75%;
}

.list__images {
    cursor: pointer;
}

.operations__list_item_container {
    padding: 12px 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    transition: background-color 0.2s ease-in-out;
}

.operations__list_item_container:not(:last-child) {
    border-bottom: solid black 1px;
}

.operations__list_item {
    display: flex;
    justify-content: space-between;
}

.list_item__date {
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
}

.operations__list_item_container:hover {
    background-color: var(--dark-hover-background);
}

.list__images__first_image {
    margin-right: 10px;
    cursor: pointer;
}

.list__images__second_image {
    cursor: pointer;
}
