.modal {
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 340px;
    padding: 8px 8px;
    height: 120px;
    border: 1px solid gray;
}

.title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    align-self: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 16px;
}

.modal__button {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    padding: 8px 40px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 25px;
    font-family: "Montserrat", sans-serif;
    transition: background-color 0.3s ease-in-out;
}

.modal__button_yes {
    background-color: red;
    color: white;
}

.modal__button_yes:hover {
    background-color: #f08080;
}

.modal__button_no {
}

.modal__actions_container {
    display: flex;
    justify-content: center;
}

.button__container {
    width: 14px;
    height: 14px;
    margin-left: auto;
}

.modal__close_icon {
    width: 14px;
    height: 14px;
    cursor: pointer;
    align-self: center;
    stroke: black;
    transition: stroke 0.2s ease-in-out;
}

.modal__close_icon:hover {
    stroke: red;
}
