.tooltip__container {
    position: relative;
    align-self: start;
    width: 95%;
}

.tooltip__text_container {
    position: absolute;
    /* white-space: pre; */
    word-break: break-all;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 8px;
    border-radius: 8px;
    margin-top: 8px;
    z-index: 1000;
    width: 200px;
}
