.tooltip__container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.tooltip__text_container {
    position: absolute;
    white-space: nowrap;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 8px;
    border-radius: 8px;
    margin-top: 8px;
    z-index: 1000;
}
